body {
  padding: 0;
  margin: 0;
}

.mainTryFree {
  width: 100%;
  height: auto;
  background-color: #fafbfe;
}

.coverTryFree {
  width: 60%; /* Can be in percentage also. */
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleTryFree {
  margin-top: 12%;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #2f281e;
}

.title2TryFree {
  margin-top: 4%;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.coverDescriptionTryFree {
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coverDescriptionTextTryFree {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #544837;
  justify-content: center;
}

.coverRegisterMainTryFree {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  width: 90%;
  display: flex;
}

.coverRegisterInputTryFree {
  background: #ffffff;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 2.5%;
  width: 60%;
  height: 4.5rem;
}

.coverRegisterButtonTryFree {
  margin-left: 2%;
  width: 30%;
  height: 4.5rem;
  background: #2091f9;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.coverRegisterContactTryFree {
  margin-top: 15%;
  width: 12rem;
  height: 6rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: #fff;
  font: bold;
  font-family: Coiny;
  font-size: 1.8rem;
  z-index: 3;
}
.coverRegisterButtonContactTryFree {
  width: 100%;
  height: 66px;
  background: #2091f9;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}
input[type="submit"] {
  box-shadow: inset 1px -4px 1px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

input[type="submit"]:active {
  box-shadow: inset -1px 4px 1px rgba(0, 0, 0, 0.25);
}

input[type="submit"]:hover {
  transform: scale(1.05, 1.05);
}

@media screen and (max-width: 800px) {
  .coverTryFree {
    width: 85%;
  }
  .titleTryFree {
    margin: 20% auto 10% auto;
  }
  .coverRegisterMainTryFree {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .coverRegisterButtonTryFree,
  .coverRegisterInputTryFree {
    margin-top: 5%;
    width: 100%;
  }
  .coverDescriptionTextTryFree {
    text-align: left;
  }
}
