body {
  padding: 0;
  margin: 0;
}
span {
  color: #ffae00;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.main {
  width: 100%;
  scroll-snap-type: y mandatory;
}
.one {
  height: 100vh;
  width: 100%;
}
section {
  height: auto;
  scroll-snap-align: start;
  background-color: #f6f7fa;
}
.one {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-image: url(../../images/image2.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.principal {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleMain {
  margin-top: 5rem;
  font-size: 6rem;
  color: #f9b41f;
  font-family: Coiny;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 4px 1px rgba(6, 75, 224, 0.25);
  letter-spacing: 0.03em;
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes bounceLeft_01 {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
}

.subtitleMain {
  width: 500px;
  font-size: 2.3rem;
  color: #ffff;
  font-family: Coiny;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 4px 1px rgba(6, 75, 224, 0.25);
}

.newsletterMain {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainButton {
  transition: 1s;
  background-color: #3a5aff;
  border: none;
  width: 300px;
  padding: 1.3rem;
  cursor: pointer;
  color: #ffff;
  font: bold;
  font-family: Coiny;
  font-size: 20px;
  box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  animation: bounceLeft_01 3s ease infinite;
}
.mainButton:hover {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 0px 0px #1814ff;
  box-shadow: 0px 0px 0px 0px #1814ff;
}

.three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleMainSection {
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}
.titleLineBlue,
.titleLineGreen,
.titleLinePurple {
  height: 0.4rem;
  width: 160px;
  border-radius: 0.2rem;
}
.titleLineBlue {
  background-color: #3a5aff;
}

.titleLinePurple {
  background-color: #bd00ff;
}

.titleLineGreen {
  background-color: #07ff02;
}

.bodyMainSection {
  width: 100%;
}

.whiteSection,
.graySection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.sectionImage {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectionImage img {
  animation: bounceLeft_01 3s ease infinite;
  max-width: 100%;
}

.whiteSectionText,
.graySectionText {
  width: 40%;
}

.whiteTitle,
.grayTitle {
  font-size: 48px;
  font-family: Coiny;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #000;
  text-shadow: 4px 4px 1px rgba(130, 130, 130, 0.25);
  letter-spacing: 0.03em;
}

.whiteParragraph,
.grayParragraph {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0.05em;

  color: #544837;
  text-shadow: 2px 2px 1px rgba(155, 155, 155, 0.3);
}

.graySection {
  background: rgb(146, 201, 221);
  background: linear-gradient(
    135deg,
    rgba(146, 201, 221, 1) 0%,
    rgba(177, 138, 212, 0.5) 100%
  );
}

.four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.six {
  display: flex;
  flex-direction: column;
}

.testNow {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Coiny";
  font-size: 2rem;
  font-weight: bold;
}

.testNow button {
  width: 280px;
  height: 65px;
  background-color: #3a5aff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  color: #ffff;
  font: bold;
  font-family: Coiny;
  font-size: 25px;
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5%;
}

.partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 0.4) 0%,
    rgba(0, 217, 245, 0.4) 100%
  );
}

.partners p {
  margin: 4% auto;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  align-items: center;
  letter-spacing: 0.05em;
  width: 80%;
}

.partnersImages {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4%;
}

.partnersImages img {
  cursor: pointer;
  width: 200px;
}

.holded img {
  cursor: pointer;
  width: 250px;
}

.mockup8 {
  width: 250px;
}

@media (max-width: 1300px) {
  .sectionImage {
    width: 35%;
  }

  .whiteTitle,
  .grayTitle {
    font-size: 36px;
  }

  .sectionImage img {
    width: 25rem;
    height: auto;
  }

  .whiteSectionText,
  .graySectionText {
    width: 550px;
  }
  .sectionImage .mockup8 {
    margin-top: 5%;
    width: 200px;
  }
}
@media (max-width: 1100px) {
  .one {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .principal {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .backgroundImg {
    display: none;
  }
}
@media (max-width: 900px) {
  .titleMain {
    font-size: 3rem;
    margin-top: 50%;
  }

  .subtitleMain {
    font-size: 1.8rem;
    width: 90%;
  }

  .mainButton {
    width: 90%;
    margin-top: 25%;
  }

  .titleMainSection {
    margin-top: 3%;

    text-align: center;
    font-size: 36px;
  }
  .bodyMainSection {
    height: auto;
  }
  .whiteSection,
  .graySection {
    flex-direction: column-reverse;
    margin: 5% auto;
  }
  .whiteTitle,
  .grayTitle {
    text-align: center;
  }
  .whiteSectionImage,
  .graySectionImage,
  .sectionImage {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .sectionImage img {
    max-width: 90%;
  }

  .whiteParragraph,
  .grayParragraph {
    text-align: left;
    font-size: 25px;
  }
  .graySection {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .sectionImage {
    width: 90%;
  }
  .sectionImage .mockup8 {
    width: 60%;
  }
  .sectionImage .mockup2,
  .mockup8 {
    margin-left: 10%;
  }

  .whiteSectionText,
  .graySectionText {
    width: 100%;
    margin: 10% auto;
  }

  .graySectionText,
  .whiteSectionText {
    width: 90%;
  }

  .testNow p {
    margin: 5%;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
  }
  .testNow button {
    margin: 7% auto;
  }

  .partnersImages {
    flex-direction: column;
    margin-top: 15%;
  }
  .partnersImages img {
    height: auto;
    margin-bottom: 20%;
  }
  .hold.titleMain {
    font-size: 46px;
  }
  .subtitleMain {
    margin-top: 1%;
    font-size: 1.9rem;
  }
  ed {
    margin-right: 8%;
  }
}

@media (max-width: 600px) {
}
