body {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.one {
  background-color: rgba(6, 75, 224, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleMain {
  margin-top: 5rem;
  font-size: 6rem;
  color: #f9b41f;
  font-family: Coiny;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.subtitleMain {
  width: 500px;
  font-size: 2.3rem;
  color: #ffff;
  font-family: Coiny;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 4px 1px rgba(6, 75, 224, 0.25);
}

.newsletterMain {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletterMain p {
  text-align: center;
  font-weight: bolder;
}

.formMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.emailMain {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.emailMain input {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 385px;
  height: 2rem;
}

.mainButton {
  cursor: pointer;
  width: 200px;
  height: 4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font: bold;
  font-family: Coiny;
  background-color: #2091f9;
}

/* .coverRegisterMainTryFree {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  width: 90%;
  display: flex;
}

.coverRegisterInputTryFree {
  background: #ffffff;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 2.5%;
  width: 60%;
  height: 4.5rem;
}

.coverRegisterButtonTryFree {
  margin-left: 2%;
  width: 30%;
  height: 4.5rem;
  background: #2091f9;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
} */

.three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleMainSection {
  margin-top: 1%;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}
.titleLineBlue,
.titleLineGreen,
.titleLinePurple {
  height: 0.4rem;
  width: 160px;
  border-radius: 0.2rem;
}
.titleLineBlue {
  background-color: #3a5aff;
}

.titleLinePurple {
  background-color: #bd00ff;
}

.titleLineGreen {
  background-color: #07ff02;
}

.bodyMainSection {
  width: 100%;
  height: 100vh;
}

.whiteSection,
.graySection {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.sectionImage {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectionImage img {
  width: 15rem;
  height: 15rem;
}

.whiteSectionText,
.graySectionText {
  width: 35%;
}

.whiteTitle,
.grayTitle {
  font-size: 30px;
  font-family: Coiny;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.whiteParragraph,
.grayParragraph {
  font-size: 22px;
  text-align: left;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.graySection {
  background-color: #f6f7fa;
}

.four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.six {
  display: flex;
  flex-direction: column;
}

.testNow {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Coiny";
  font-size: 2rem;
  font-weight: bold;
}

.testNow button {
  width: 280px;
  height: 65px;
  background-color: #3a5aff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  color: #ffff;
  font: bold;
  font-family: Coiny;
  font-size: 25px;
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 0.4) 0%,
    rgba(0, 217, 245, 0.4) 100%
  );
}

.partners p {
  margin: 4% auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  align-items: center;
  letter-spacing: 0.05em;
  width: 80%;
}

.partnersImages {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4%;
}

.partnersImages img {
  cursor: pointer;
  width: 200px;
}

.holded img {
  cursor: pointer;
  width: 250px;
}

@media (max-width: 1300px) {
  .sectionImage {
    width: 200px;
  }
  .sectionImage img {
    width: 15rem;
    height: 15rem;
  }

  .whiteSectionText,
  .graySectionText {
    width: 550px;
  }
}

@media (max-width: 900px) {
  .one {
    justify-content: start;
  }
  .titleMain {
    font-size: 3rem;
    margin-top: 50%;
  }

  .subtitleMain {
    font-size: 1.5rem;
    width: 90%;
  }

  .newsletterMain {
    position: absolute;
    bottom: 5%;
  }
  .newsletterMain p {
    text-align: center;
    width: 90%;
    font-size: 20px;
    font-weight: bolder;
  }
  .formMain {
    flex-direction: column;
    width: 100%;
  }
  .emailMain input {
    width: 90%;
  }
  .emailMain,
  .mainButton {
    width: 90%;
  }
  .three,
  .four,
  .five,
  .six {
    height: auto;
  }
  .titleMainSection {
    margin-top: 3%;
    text-align: center;
    font-size: 36px;
  }
  .bodyMainSection {
    height: auto;
  }
  .whiteSection,
  .graySection {
    flex-direction: column-reverse;
    margin: 5% auto;
  }
  .whiteTitle,
  .grayTitle {
    text-align: center;
  }
  .whiteSectionImage,
  .graySectionImage,
  .sectionImage {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .whiteSectionImage img {
    width: 8rem;
    height: 8rem;
  }
  .whiteParragraph,
  .grayParragraph {
    text-align: left;
    font-size: 20px;
  }
  .graySection {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .sectionImage {
    width: 100%;
  }

  .whiteSectionText,
  .graySectionText {
    width: 100%;
    margin: 10% auto;
  }
  .graySectionImage img {
    width: 8rem;
    height: 8rem;
  }

  .graySectionText,
  .whiteSectionText {
    width: 90%;
  }

  .testNow p {
    margin: 5%;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
  }
  .testNow button {
    margin: 7% auto;
  }

  .partnersImages {
    flex-direction: column;
    margin-top: 15%;
  }
  .partnersImages img {
    height: auto;
    margin-bottom: 20%;
  }
  .holded {
    margin-right: 8%;
  }
}
