.card img{
    width: 10rem;
    height: 12.5rem;
    background-color: violet;
    border-radius: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card h4{
    margin-bottom: 0;
}

.card p{
    font-style: italic;
    font-family: Montserrat;
    font-weight: normal;
}

@media (max-width: 600px) {
    .card img{
        width: 8rem;
        height: 10rem;
    }
    .card p{
        font-style: italic;
        font-family: Montserrat;
        font-weight: normal;
        font-size: 0.8rem;
    }
}