.navBar {
    top: 0;
    position: fixed;
    height: 8%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
}

.routeNavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.logoNavBar {
    height: 100%;
    width: 4rem;
}

.logoNavBar img{
    width: 100%;
    height: 100%;
}
.textNavBar {
    margin-left: 5%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.buttonNavBar {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5%;
}

.buttonNavBar button {
    transition: 1s;
    background-color:  #3A5AFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem;
    cursor: pointer;
    color: #ffff;
    font: bold;
    font-family: Coiny;
    -webkit-box-shadow: 0px 4px 0px 0px #1814ff; 
    box-shadow: 0px 4px 0px 0px #1814ff;
}

.buttonNavBar button:hover {

    transition: 1s;
    -webkit-box-shadow: 0px 0px 0px 0px #1814ff; 
    box-shadow: 0px 0px 0px 0px #1814ff;
}

.homeNavBar {
    transition: 1s;
    cursor: pointer;
    color: #F9B41F;
    
}

.logoNavBar {
    cursor: pointer;
}

.aboutNavBar {
    transition: 0.5s;
}

.aboutNavBar:hover {
    transition: 0.5s;
    cursor: pointer;
    color: #F9B41F;
}

.contactNavBar {
    transition: 0.5s;
}

.contactNavBar:hover {
    transition: 0.5s;
    cursor: pointer;
    color: #F9B41F;
}