footer {
    height: auto;
    background: #212529;
    color: #fff;
    z-index: 100;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.routeFooter{
    margin-top:2%;
    margin-left: 5%;
    height: auto;
    width: 33%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.routeFooter div{
    margin-top: 7%;
}


.contactFooter{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contactFooter p {
    margin-top: 10%;
    margin-bottom: 5%;
}

.contactFooter form{
    width: auto;
    display: flex;
    flex-direction: column;
}

.contactFooter form input{ 
    border: none;
    outline: none;
    margin-bottom: 5%;
    width: 353px;
    height: 64px;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.inputFooter{
    text-indent: 20px;
}

.suscribeFooter {
    background: #2091F9;
    color: #fff;
    font-weight: 900;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.2px;
}

.midFooter {
    display: flex;
    height: 100%;
    width: 33%;
}

.socialFooter {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.socialImages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 12%;
}

.socialCircle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #ffff;
}

.textFooter {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 90%;
    bottom: 0;
    position: relative;
    height: auto;
    text-align: center;
}

@media (max-width: 1200px) {
    .contactFooter{
        margin-right: 4%;
    }
}

@media (max-width: 1000px) {
    .footer {
        width: 100%;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
    }

    .routeFooter {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 6%;
        margin-left: 10%;
    }
    .routeFooter div{
        width: 20%;
        font-size: 14px;
        font-weight: normal;
    }

    .contactFooter, .midFooter, .socialFooter{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
    }
    .socialImages{
        justify-content: center;
        margin-top: 7%;
    }

    .contactFooter form{ 
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        gap: 3%;
    }
    .contactFooter form input{
        height: 52px;
        font-size: 14px;
    }
    .contactFooter form .inputFooter{
        width: 60%;
    }
    .contactFooter form .suscribeFooter{
        width: 30%;
    }
    .textFooter{
        margin-bottom: 3%;
        margin-top: 10%;
    }
}

